/* pages/styles.css */

.announcement-bar {
  background-color: #9945FF;
  color: white;
  padding: 2px;
  text-align: center;
  font-size: 14px;
}

.announcement-bar a {
  color: white;
  text-decoration: none;
}