.announcement-bar {
  background-color: #9945FF;
  color: white;
  padding: 2px;
  text-align: center;
  font-size: 14px;
}

.announcement-bar a {
  color: white;
  text-decoration: none;
}
:root {
  --icon-color: #000; /* Default color for light theme */
}

.dark {
  --icon-color: #fff; /* Color for dark theme */
}

body {
  background-color: #000;
  color: #fff;
  font-family:  Diatype, Arial, Helvetica, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.nextra-nav-container button svg {
  color: var(--icon-color);
}
.nextra-nav-container a[href^="https://github.com"] svg {
  color: var(--github-icon-color) !important;
}
