.videoSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.videoWrapper {
  margin-bottom: 1rem;
}

.textWrapper {
  display: flex;
  align-items: center;
}

.textWrapper p {
  margin: 0;
}

.fullWidthText {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .videoSection {
    flex-direction: row;
  }

  .videoWrapper {
    flex: 0 0 40%;
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .textWrapper {
    flex: 1;
  }
}